{% extends '_layout.html' %}
{% load common %}
{% block title %}
Badge Detail
{% endblock %}
{% block body %}


<div class="clearfix">
    <div class="clearfix">
        <div class="thread col-lg-8" style="padding:15px">
            <div class="clearfix">
                <div class="col-sm-2">
                    <img src='{{ badge.image.url }}' style="width:100%" />
                </div>

                <div class="col-sm-10">
                    <div style="margin-left:15px">
                        <h2>{{ badge.title }}</h2>
                        <p style="color:#1e2ea2">
                            90% (45/50) of learners recommend this
                        </p>
                        <p style="color:#a21e1e">
                            Very difficult
                        </p>
                        <p>
                        {% url 'badges_add_tag' as action %}
                        {% include 'common/_tag_list.html' with tags=badge.visible_tags id=badge.id %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <h3>Summary</h3>
                {{ badge.summary|bbcode }}

                <div class="clearfix">
                    <div style="float:right; margin-top:15px; margin-bottom:15px">
                        {% if form %}
                            <form>
                            {% csrf_token %}
                            {{ form.user_resource }}
                            <input type="submit"
                                   class="btn btn-primary"
                                   value="Add"
                            </form>
{#                            @if (Model.InUserCollection) {#}
{#                            <span class="tile-body">This badge is currently in your favorites</span>#}
{#                            <input type="button"#}
{#                                   class="btn btn-default"#}
{#                                   value="Remove"#}
{#                                   onclick="location.href='@Url.Action("RemoveStrategy", "Plans", new { strategyId = Model.Badge.Id })'" />#}
{#                        } else {#}
{#                            <span class="tile-body">This badge is currently not in your favorites</span>#}
{##}
{#                        }#}
                        {% endif %}

                    </div>
                </div>

                <div style="margin-top:30px"></div>


                {% if badge.detail %}
                    <h3>Details</h3>
                   {{ badge.detail|bbcode }}

                {% endif %}
            </div>

            <a class="btn btn-sm btn-default" style="float:right" href='{% url 'badges_update' badge.id %}'>Edit</a>
        </div>
    </div>

{#    @Html.Action("_ThreadPartial", "Discussion", new { topicId = Model.Badge.Id, topicType = Model.TopicType, tab = Model.Tab })#}
</div>

{% endblock %}