<div>Tags:

{% for tag in tags %}
<div class="label label-default tag-label">{{ tag.tag }}

<div class="tag-flag-btn">Flag</div>
</div>
{% endfor %}

</div>
<form method="post" action="{{ action }}" class="tag-add-input-group">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="hidden" name="id" value="{{ id }}" />
    <div class="input-group input-group-sm">
        <input type="text" name="tag" class="tags-autocomplete form-control" />
        <div class="input-group-btn">
        <input type="submit" class="btn btn-default" value="Add" />
        </div>
    </div>
</form>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.tags-autocomplete').autocomplete({
                    source: '{% url 'common_tags_list' %}'
                });
            })
        </script>
