{% extends '_layout.html' %}
{% load common %}
{% block title %}
Schedule
{% endblock %}
{% block body %}

<div class="clearfix">
    <div class="col-sm-8">
        <h3 style="margin-top:30px">Profile</h3>
        <div class="plan">
            @Html.Action("_CollapsableUserPreferences", "User")
        </div>

        <h3 style="margin-top:30px">Resources and badges</h3>
        @if (Model.CurrentPlans.Count == 0) {
            <h4 class="tile-body">
                You haven't added any resources yet.
                @Html.ActionLink("Find resources", "Index", "StudyMedia")
            </h4>
        } else {
            foreach (var item in Model.CurrentPlans) {
                <div class="plan clearfix">
                    @Html.Action("_CurrentPlanBlock", "History", new { model = item })
                </div>
            }
        }
    </div>

    <div class="col-sm-4" style="padding-left:16px">
        <h3 style="margin-top:30px">History</h3>
        @if (Model.Entries.Count == 0) {
            <h4 class="tile-body">
                You don't have any badges yet.
            </h4>
        } else {
            foreach (var item in Model.Entries) {
                <div class="clearfix h4">
                    <div class="col-sm-3 tile-body" style="padding-top:10px">
                        @Html.DisplayFor(m => item.Time)
                    </div>
                    <div class="col-sm-9">
                        @foreach (var strat in item.Strategies) {
                            <div class="col-md-2" style="padding-right:1px">
                                @if (strat.ImageId == null) {
                                    <img class="img-button-opaque"
                                         style="width:100%"
                                         src='~/images/achievementbadge.png'
                                         onclick="location.href='@Url.Action("PlanDetails", "Plans", new { id = strat.StrategyId })'"
                                         title='@strat.FullTitle' />
                                } else {
                                    <img class="img-button-opaque"
                                         style="width:100%"
                                         src='@Url.Action("Show", "Image", new { imageId = strat.ImageId })'
                                         onclick="location.href='@Url.Action("PlanDetails", "Plans", new { id = strat.StrategyId })'"
                                         title='@strat.FullTitle' />
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
{% endblock %}
