{% extends '_layout.html' %}
{% load common %}
{% block title %}
Schedule
{% endblock %}
{% block body %}

<div class="clearfix">
    <div class="col-sm-8">
        <h3 style="margin-top:30px">Profile</h3>
        <div class="plan">
            {% if request.user.is_authenticated %}

            Your favorite tags

            {% for tag in fav_tags %}
                <span class="label label-info">{{ tag.tag }}</span>
            {% empty %}
                You have no favorite tags
            {% endfor %}


            {% else %}
                Please log in to see your favorite tags

            {% endif %}

        </div>

        <h3 style="margin-top:30px">Resources and badges</h3>
        {% for resource in resources %}
            <div class="plan clearfix">
            {% include 'dashboard/_user_resource.html' %}
            </div>
        {% empty %}
            <h4 class="tile-body">
                You haven't added any resources yet.
                <a href="{% url 'resources_index' %}">Find resources</a>
            </h4>
        {% endfor %}

    </div>

    <div class="col-sm-4" style="padding-left:16px">
        <h3 style="margin-top:30px">History</h3>
        {% for date, badges in history.items %}
            <div class="clearfix h4">
                <div class="col-sm-3 tile-body" style="padding-top:10px">
                    {{ date }}
                </div>
                <div class="col-sm-9">
                    {% for badge in badges %}
                        <div class="col-md-2" style="padding-right:1px">
                        <img class="img-button-opaque"
                                     style="width:100%"
                                     src='{% if badge.image %}
                                        {{ badge.image.url }}
                                     {% else %}
                                        ~/images/achievementbadge.png
                                     {% endif %}'
                                     onclick="location.href='@Url.Action("PlanDetails", "Plans", new { id = strat.StrategyId })'"
                                     title='@strat.FullTitle' />

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <h4 class="tile-body">
                You don't have any badges yet.
            </h4>
        {% endfor %}

    </div>
</div>
{% endblock %}
