{#@using Microsoft.AspNet.Identity#}
{#@if (Request.IsAuthenticated)#}
{#{#}
{#    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))#}
{#    {#}
{#    @Html.AntiForgeryToken()#}
{% if user.is_authenticated %}

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">Hello {% firstof user.first_name user.username %}!</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

{% else %}

    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'register' %}" id="registerLink">Register</a></li>
        <li><a href="{% url 'login' %}" id="loginLink">Log in</a></li>
    </ul>

{% endif %}
