{% extends '_layout.html' %}
{% load common %}{% load staticfiles %}
{% load comments %}
{% block title %}
Resources
{% endblock %}
{% block body %}

<div class="col-sm-12">
    <div class="plan">
        <div class="clearfix">
            <div class="col-lg-4">
                <h2>{{ m.title }}</h2>
                {% url 'resources_add_tag' as action %}
                {% include 'common/_tag_list.html' with tags=m.visible_tags id=m.id tag_flag_url='resources_flag_tag' %}
                <p>{{ m.description|bbcode }}</p>
                <p>
                    {% if added %}
                        <a class="btn btn-default" href="{% url 'resources_unfav' m.id %}">Remove</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'resources_fav' m.id %}">Add</a>
                    {% endif %}
                    <a class="btn btn-default" href="{% url 'badges_index' %}">Find badges</a>
                </p>

                {% if m.guide_text %}
                    <h3>Where to find this</h3>
                    <p>
                        {{ m.guide_text|bbcode }}
                    </p>
                {% endif %}
            </div>
            <div class="col-lg-8">
                <img class="img-padded" src="{{ m.image.url }}" style="width:100%" />
            </div>
        </div>

        <div class="clearfix">
            <a class="btn btn-sm btn-default" style="float:right" href="{% url 'resources_edit' m.id %}">Edit</a>
        </div>
    </div>
</div>

<div class="col-sm-12">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Review</a></li>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="reviews">
    <ul class="reviews-list col-md-7">
    {% for review in reviews %}
        <li class="row thread single-review">
            <div class="review-icon">
            <img src="{% if review.recommend %}{% static 'images/thumbsup.png' %}{% else %}{% static 'images/thumbsdown.png' %}{% endif %}" width="80" height="80" />
            </div>
        <div class="review-content">

        <p>Author: {{ review.author.username }}</p>
        <p>Fun: {{ review.fun }}</p>
        <p>Useful: {{ review.useful }}</p>
        <p>Level: {{ review.level }}</p>
        </div>
        </li>
    {% endfor %}
    </ul>

<div class="col-md-5">
        {% if review_form %}
            <form method="post" action="{% url 'resources_review' m.id %}">
    {% csrf_token %}
        {{ review_form.as_p }}
            <input class="btn" type="submit" value="Submit" />
            </form>
        {% else %}
            You must log in to write reviews

        {% endif %}
</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="comments">
{% render_comment_list for m %}
{% render_comment_form for m %}</div>
  </div>
</div>

{% endblock %}